* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  background: darkblue;
  color: #fff;
  font-size: 30pt;
}
main #title{
  white-space: pre-line;
}
.inputbox{
  position: relative;
  width: 50px;
  height: 50px;
}
.inputbox{
  float: left;
  height: 35px;
  width: 440px;
  font-size: 30pt;
}
